torch==2.6.0
torchvision==0.21.0
projectaria-tools[all]==1.5.7
pyyaml
matplotlib
packaging
h5py
ipython
rich
wandb
hydra-core
hydra-submitit-launcher==1.2.0
black
gpustat
pynvml
termcolor
pyquaternion
rospkg
einops
av==12.0.0
opencv-python==4.7.0.72
dm-control==1.0.8
mujoco
mujoco-py==2.1.2.14
submitit
arm_pytorch_utilities
pytorch-kinematics
lightning
positional-encodings[pytorch]
argparse
getdaft
pandas
overrides
zarr
tabulate
transformers
timm
boto3
ray
